@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Work+Sans:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background: #e5e5e5 url(/public/images/page-bg.png) repeat;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", serif;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
}
